- breadcrumb :payments
= link_to t('shared.add_new_item'), new_payment_path, class: 'btn btn-default'
%table.table.table-condensed.payments_table
  %thead
    %tr
      %th= t('payment.columns.student')
      - month_names_with_index(short: true).each do |month_name, month_id|
        %th= month_name
  %tbody
    = render 'payments'
